@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.app,
#root {
  margin : 0;
  padding : 0;
  height: 100%;
  width: 100%;
  background-color:  #FBFBFB;
  
}

:root {
  --bg-color : #FBFBFB;
  --filtered-btn-active : #FE6240;
  --filtered-btn-secondary : #FFFFFF;
  --light-text : #9B9EA6;
  --border-color : #EDF0EF;
  --bg-bestseller : #C8FFEE;
  
}

.heading {
  font-weight : 500;
  font-size : 32px;
  color : #000000;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}