@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Banana-grotesk";
  src: url("/fonts/Banana-grotesk/regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Banana-grotesk";
  src: url("/fonts/Banana-grotesk/medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Banana-grotesk";
  src: url("/fonts/Banana-grotesk/semibold.otf") format("opentype");
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM-Serif-Display";
  src: url("/fonts/DM_Serif_Display/Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Youth";
  src: url("/fonts/Youth/Light.woff2") format("woff2");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Youth";
  src: url("/fonts/Youth/Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Youth";
  src: url("/fonts/Youth/Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Youth";
  src: url("/fonts/Youth/Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.app,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fbfbfb;
}

body {
  font-family: "Banana-grotesk", sans-serif;
}

:root {
  --bg-color: #fbfbfb;
  --filtered-btn-active: #fe6240;
  --filtered-btn-secondary: #ffffff;
  --light-text: #9b9ea6;
  --border-color: #edf0ef;
  --bg-bestseller: #c8ffee;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes slide-up-down {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.text-changing {
  animation: slide-up-down 4s ease-in-out infinite;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px; /* Adjust width as needed */
  height: 100%;
  background: linear-gradient(to left, #022d42 100%, rgba(2, 45, 66, 0) 0%);
  pointer-events: none; /* Allows clicks to pass through the overlay */
}

.map-container {
  height: 400px;
}

@media (min-width: 1024px) {
  .map-container {
    height: 674px;
  }
}

input::placeholder {
  font-family: "Banana-grotesk", sans-serif;
  font-weight: 400; /* Normal */
}
